.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 49.33%;
    padding: 10px;
}

.columnTitle {
    color: #1275ae;
    font-size: x-large;
    font-family: 'Geneva'
}

.maintext {
    font-family: 'Geneva';
    color: #868686;
}

.smalltext{
    font-family: 'Geneva';
    font-size: 10px;
    color: #868686;
}

.maintextBlack {
    font-family: 'Geneva';
    color: #030705;
}

.hugeHeader {
	color: #1275ae;
	font-weight: bold;
}

.smallHeader  {
	color: #696969;
	font-weight: bold;

a {
    text-decoration: none;
}